body {
    background-color: #f9f9f9;
}

input {
    width: 250px;
    height: 27px;
}

.btn button,
input {
    border-radius: 3px
}

.f {
    width: 100%;
}

a {
    text-decoration: none
}

.container {
    margin: 0 auto;
    height: 400px;
    width: 300px;
}

.sign_text {
    font-size: 30px;
    text-align: center;
    margin-top: 10px
}

.gitimg {
    margin: 0 auto;
    height: 60px;
    width: 60px;
}

.gsign,
.new {
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #eceef0;
    margin-top: 20px;
    border-radius: 6px
}

.gname {
    width: 260px;
    /* background-color: beige; */
    margin: 0 auto
}

.btn {
    padding-top: 18px;
    padding-bottom: 18px
}

.btn button {
    width: 260px;
    height: 35px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33cc56), to(#29aa46));
    border: #30b951 solid 2px;
    color: #e8fbf8
}

.psw {
    padding-top: 10px
}

.newgit {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px
}